[submodule ".mydotfiles_misc/zsh-syntax-highlighting"]
	path = .mydotfiles_misc/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".mydotfiles_misc/pure"]
	path = .mydotfiles_misc/pure
	url = https://github.com/DarthFloopy/pure
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
